
.container{
position: relative;
background: #FFF;
border-radius: 5px;
margin-bottom: 10px;
padding: 10px;
box-shadow: 0 1px 4px 0 rgba(192, 208, 230, 0.8);
border-top: 20px solid rgba(230, 236, 245 0.4);
cursor: grab;

}

.label {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  display: inline-block;
}
