.container {
  padding: 0 15px;
  height: 100%;
  flex: 0 0 300px;

  & + div {
    border-left: 1px solid rgba(0,0,00,0.5);
  }

  .header {
    display: flex;
    height: 12px;
    position:absolute;
  }

  .title{
    font-weight: bold;
    font-size: 20px;
    padding: 0 10px;
  }

  .lista{
    margin-top: 20px;
  }
}

