/* Estilos para a página Trello */
.body {
  display: flex;
  justify-content: space-around;
}

/* Botões */
.botao {
  margin: 0 15px 25px;
}

.botao-card{
  border: transparent;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


/* Estilos para as fases */
.stage {
  flex: 1;
  margin: 0px 10px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 6px;
  height: 4500px;
}

.stage-title{
  font-size: 22px;
  text-align: center;
  margin-bottom: 25px;
  color: rgba(17, 16, 16, 0.918);
}

.stage-cards {
  font-size: 22px;
  text-align: center;
  margin-bottom: 25px;
  color: rgba(17, 16, 16, 0.918);
}

/* Estilos para as demandas */
.card {
  padding: 10px;
  margin-bottom: 10px !important;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}


.card-title {
  font-size: 16px;
  margin-bottom: 5px;
  color: black;
}


/* Estilos para ícones */
.icon-wrapper {
  visibility: hidden;
  top: 50%;
  right: 10px;
  transform: translate(50%, -50%);
  position: absolute;
}

.card:hover .icon-wrapper {
  visibility: visible;
}

.modal-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-board .ant-modal-content {
  width: 600px;
}
