/* Estilos para a página Trello */
.body-demand {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* Botões */
.botao-criar {
  margin: 0 15px 5px;
}

.container{
  max-width: 100%;
}

.botao-voltar{
  margin: 0 15px 5px 27px;
}

.botao-card {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #1890ff;
  border: transparent;
}

.button-icon{
  border: 0;
  margin: 0px;
  padding: 0;
}


/* Estilos para as stages*/
.stage-demand {
  flex: 1;
  margin: 0px 5px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 6px;
 /* min-width: 120px; */
  position: relative;
}

.stage-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
  color: rgba(17, 16, 16, 0.918);
}

.stage-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stage-cards {
  font-size: 22px;
  text-align: center;
  margin-bottom: 25px;
  color: rgba(17, 16, 16, 0.918);
}

/* Estilos para as cards */
.card-demand {
  padding: 10px;
  margin-bottom: 10px !important;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card-title {
  font-size: 16px;
  margin: 0px 0px 5px 5px;
  color: black;
}




/* Estilos para ícones */
.tag-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.icon-wrapper-card {
  visibility: hidden;
  top: 50%;
  right: 10px;
  transform: translate(50%, -50%);
  position: absolute;
}

.icon-wrapper-stage {
  visibility: hidden;
  font-size: 18px;
  top: 25px;
  right: 15px;
  transform: translate(50%, -50%);
  position: absolute;
}

.card-demand:hover .icon-wrapper-card,
.stage-demand:hover .icon-wrapper-stage {
  visibility: visible;
}
